.layout {
  display: flex;
  height: 100vh;
}
.header {
  color: white;
  /* background: #001529; */
}
.headRight {
  text-align: right;
}
.header img, .headerTitle {
  vertical-align: middle;
  font-size: 16px;
}
.header img {
  width: 30px;
}
.headerTitle {
  padding-left: 10px;
}
.content {
  flex: 1;
  overflow-y: scroll;
}
.container {
  margin: 30px;
  padding: 20px;
  background: white;
  overflow: hidden;
}
.pagination {
  text-align: right;
}
.preViewBtnContainer {
  padding: 20px;
  text-align: center;
}
.loading {
  color: #1890ff;
}
.footer {
  color: aliceblue;
  background: #001529;
}

@media screen and (max-width: 540px) {
  .header {
    padding: 0 20px;
  }
  .header img {
    width: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    width: 800px;
    margin: 30px auto;
  }
}